@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  background-color: #020617;
}

body {
  color: var(--foreground);
  background: transparent;
  overflow-x: hidden;
}

/* Убираем стандартные стили скроллбара для красоты */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #10b981;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-out;
}

.custom-cursor::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #10b981;
  border-radius: 50%;
  box-shadow: 0 0 10px #10b981;
}

/* Эффект при наведении на кликабельные элементы */
.cursor-hover {
  transform: scale(2);
  background: rgba(16, 185, 129, 0.1);
  border-width: 2px;
}